{% extends "mviewer_base.html" %}
{% load base_tags %}
{% load i18n %}

{% block body_outer %}
<div class="content">
  <div class="container_n">
    <!--<div class='loader'>
      <div class='loader-container'>
        <div class='progress progress-striped active' style="height:4px;">
          <div class='progress-bar progress-bar-info' id='bar' role='progressbar' style='width: 0%;'></div>
        </div>
      </div>
    </div>-->
    <div class="container_documents">
      <div id="header">
        <div class="container">
          <div class="logo">Configuración de Visualizador</div>
        </div>
      </div>
     </div>
   </div>
</div>

<div class="container">
  <div class="ms-container-header">
    <div class="project-title clearfix">
          <span class="ms-close-detail">
               <a href="{% url 'mviewer_list' %}"><i class="fa fa-chevron-left" title="Regresar"></i></a>
          </span>
          <h3 title="{{mviewer.name}}">{{mviewer.name|truncatechars:55}}
            <a href="{% url 'microviewer' mviewer.url_id %}"><i class="fa fa-arrow-circle-right" title="Ir a"></i></a>
          </h3>
          <span class="close_ms">
            <a href="{% url 'mviewer_metadata' mviewer.id %}"><i class="fa fa-bars" title="Editar Metadato"></i></a>
            <a href="{% url 'mviewer_remove' mviewer.id %}"><i class="fa fa-trash" title="Eliminar Visualizador"></i></a>
          </span>
    </div>
    <div id="tmain-table">
        <table class="hor-minimalist-b">
          <thead>
          <tr>
            <th scope="col" colspan="4">Temáticas
                <a href="{% url 'topic_create' mviewer.id %}" style="float:right;">
                <span><i class="fa fa-plus fa-1x" title="Agregar" aria-hidden="true"></i></span>
                </a>
            </th>
          </tr>
          </thead>
            <tbody class="ms-hide-menu">
            {% for top in topics %}
            <tr class="topic-sort" id="{{top.id}}">
                <td>
                    <table class="topic-table">
                        <tr id="top-{{top.id}}" class="topic">
                            <td width="35%">
                                <div>{{ top.name }}</div>
                            </td>
                            <td class="top-tools" style="width:60px;">
                              <span>
                                <a href="{% url 'topic_metadata' mviewer.id top.id %}">
                                  <i class="fa fa-pencil fa-1x"  title="Editar Temática" aria-hidden="true"></i>
                                </a>
                              </span>
                              <span>
                                <a href="{% url 'topic_remove' mviewer.id top.id %}">
                                  <i class="fa fa-trash fa-1x" title="Eliminar Temática" aria-hidden="true"></i>
                                </a>
                              </span>
                            </td>
                            <td class="top-exp">
                              <span class="minimize-menu" style="float:right;" data-id="{{top.id}}"><i class="fa fa-expand fa-1x" title="Mostrar Capas"></i></span>
                            </td>
                        </tr>
                        <tr id="top-{{top.id}}-head" style="display:none" class="top-exp">
                          <td></td>
                          <th scope="col" colspan="3">Capas <label style="margin-left:30px;">Titulo - Estilo</label>
                            <i class="fa fa-plus add-layers-btn" title="Agregar Capas" data-toggle="modal" data-target="#add-topic-layer" data-id="{{top.id}}" style="float:right; color: #0092EA;" aria-hidden="true"></i>
                          </th>
                        </tr>
                        <tr id="top-{{top.id}}-lays" style="display:none" class="top-exp">

                          <td></td>
                          <td id="tlayers-{{top.id}}" class="td-layers" colspan="2">
                            {% for lay in top.layerids_set.all|dictsort:"stack_order" %}
                              <div id="t{{top.id}}l{{lay.layer_id}}r{{lay.stack_order}}" class="sort_layer" data-regid="{{lay.id}}">
                                 <span class="lay-tools">
                                     {% if lay.visible %}
                                       <i class="fa fa-check-square-o"  title="Visible" aria-hidden="true" data-regid="{{lay.id}}"></i>
                                     {% else %}
                                       <i class="fa fa-square-o"  title="Visible" aria-hidden="true" data-regid="{{lay.id}}"></i>
                                     {% endif %}

                                     <a href="{ url 'upload_configure_layer' mviewer.id lay.id }">
                                       <i class="fa fa-wrench"  title="Ligar herramienta" aria-hidden="true"></i>
                                     </a>
                                     <a href="{% url 'edit_layer_narrative' mviewer.id lay.id %}">
                                     {% if lay.narrative %}
                                        <i class="fa fa-file-text" title="Editar Descripción" aria-hidden="true"></i>
                                     {% else %}
                                        <i class="fa fa-file-text-o" title="Agregar Descripción" aria-hidden="true"></i>
                                     {% endif %}
                                     </a>
                                     {% if lay.markers.all %}
                                     <a href="{% url 'add_layer_markers' mviewer.id lay.id %}">
                                         <i class="fa fa-map-pin" title="Editar Marcadores" aria-hidden="true" data-regid="{{lay.id}}"></i>
                                     </a>
                                     {% else %}
                                     <a href="{% url 'add_layer_markers' mviewer.id lay.id %}">
                                         <i class="fa fa-map-marker" title="Agregar Marcadores" aria-hidden="true" data-regid="{{lay.id}}"></i>
                                     </a>
                                     {% endif %}
                                     <i class="fa fa-trash" title="Eliminar Capa" aria-hidden="true" data-regid="{{lay.id}}"></i>
                                 </span>
                                  <label>{{lay.title}}</label>
                                 {% if lay.style != lay.default_style %}
                                  <select class="select-style" name="{{lay.name}}"><option value="{{lay.style}}">{{ lay.style }}</option></select>
                                 {% endif %}
                                 <br>
                              </div>
                            {% endfor %}
                          </td>
                        </tr>
                    </table>
                </td>
            </tr>
          {% empty%}
            Agregue temáticas al visualizador.
          {% endfor %}
          </tbody>
        </table>
    </div>
    <p>Nota: No se permite la creación de mas de 7 temáticas por visualizador.</p>

  </div>
</div>
<div class="modal fade" id="add-topic-layer" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="width:830px;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Seleccionar capas</h4>
      </div>
      <div class="modal-body">
        {% with facet_type='layers' %}
          {% include "_search_layer.html" %}
        {% endwith %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block extra_script %}
<script src="{{ STATIC_URL }}idegeo/util/js/jquery.mixitup.js" type="text/javascript"></script>
<script src='{{ STATIC_URL }}idegeo/util/js/jquery.quicksearch.js'></script>
<!--<script src="{{STATIC_URL}}geonode/js/colorbox/jquery.colorbox.js"></script>-->
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<!--<link rel="stylesheet" href="{{STATIC_URL}}geonode/css/colorbox/colorbox.css" />-->

<script src="{{ STATIC_URL }}geonode/js/search/explore.js?v={{ VERSION }}"></script>
<script src="{{ STATIC_URL }}geonode/js/search/search.js?v={{ VERSION }}"></script>
<script src="{{ STATIC_URL }}idegeo/mviewer/js/search/mviewer_cart.js"></script>
<script type="text/javascript">
      {% if HAYSTACK_SEARCH %}
          SEARCH_URL = '{% url 'api_get_search' api_name='api' resource_name='base' %}?type__in=layer'
      {% else %}
          SEARCH_URL = '{% url 'api_dispatch_list' api_name='api' resource_name='layers' %}';
      {% endif %}
    FILTER_TYPE = 'layer';

  $("body").attr('ng-controller', 'geonode_search_controller');
  CATEGORIES_ENDPOINT = '{% url 'api_dispatch_list' api_name='api' resource_name='categories' %}';
  GROUP_CATEGORIES_ENDPOINT = '{% url 'api_dispatch_list' api_name='api' resource_name='groupcategory' %}';
  KEYWORDS_ENDPOINT = '{% url 'api_dispatch_list' api_name='api' resource_name='keywords' %}';
  H_KEYWORDS_ENDPOINT = '{% url 'h_keywords_api' %}';
  T_KEYWORDS_ENDPOINT = '{% url 'api_dispatch_list' api_name='api' resource_name='thesaurus/keywords' %}';
  REGIONS_ENDPOINT = '{% url 'api_dispatch_list' api_name='api' resource_name='regions' %}';
  OWNERS_ENDPOINT = '{% url 'api_dispatch_list' api_name='api' resource_name='owners' %}';
  HAYSTACK_SEARCH = "{{ HAYSTACK_SEARCH }}".toLowerCase() === "true";
  HAYSTACK_FACET_COUNTS = "{{ HAYSTACK_FACET_COUNTS }}".toLowerCase() === "true";
  CLIENT_RESULTS_LIMIT = {{ CLIENT_RESULTS_LIMIT }};
  {% get_context_resourcetype as pathc %}
        {% if pathc == "layers" %}
                AUTOCOMPLETE_URL_RESOURCEBASE = '{% url "autocomplete_light_autocomplete" "LayerAutocomplete" %}';
        {% elif pathc == "maps" %}
                AUTOCOMPLETE_URL_RESOURCEBASE = '{% url "autocomplete_light_autocomplete" "MapAutocomplete" %}';
        {% elif pathc == "documents" %}
                AUTOCOMPLETE_URL_RESOURCEBASE = '{% url "autocomplete_light_autocomplete" "DocumentAutocomplete" %}';
        {% elif pathc == "search" %}
                AUTOCOMPLETE_URL_RESOURCEBASE = '{% url "autocomplete_light_autocomplete" "ResourceBaseAutocomplete" %}';
        {% elif pathc == "people" %}
                AUTOCOMPLETE_URL_RESOURCEBASE = '{% url "autocomplete_light_autocomplete" "ProfileAutocomplete" %}';
        {% elif pathc == "groups" %}
                AUTOCOMPLETE_URL_RESOURCEBASE = '{% url "autocomplete_light_autocomplete" "GroupProfileAutocomplete" %}';
        {% else %}
                AUTOCOMPLETE_URL_RESOURCEBASE = '{% url "autocomplete_light_autocomplete" "ResourceBaseAutocomplete" %}';
        {% endif %}
  AUTOCOMPLETE_URL_REGION = '{% url "autocomplete_light_autocomplete" "RegionAutocomplete" %}';

  var module = angular.module('search', ['geonode_main_search', 'cart']);
  module.constant('Configs', {
    url: SEARCH_URL
  });

  var deps = ['search'];
  {% if include_spatial == 'true' %}
  deps.push('leaflet-directive');
  {% endif %}
  angular.bootstrap(document, deps);
</script>
{% include "mviewer_detail.js" %}
{% endblock extra_script %}
