{% extends "baseAlt.html" %}
{% load i18n %}
{% load dialogos_tags %}
{% load agon_ratings_tags %}
{% load bootstrap_tags %}
{% load base_tags %}
{% load guardian_tags %}

{% block title %}{{ reference }} — {{ block.super }}{% endblock %}

{% block head %}
{{ block.super }}
{% endblock %}
{% block body_class %}blog{% endblock %}
{% block middle %}
{% block body_outer %}
{% endblock %}
<div class="container">
  <div class="row"><br>
    <div class="col-md-8">
      <form action="{% url "reference_remove" reference.id %}" method="POST">
        <h2>¿Esta seguro que desea eliminar la referencia: {{reference}}?</h2>
        <br>
        {% csrf_token %}
        <input type="hidden" value="{{post}}" />
        <div class="form-actions">
          <input type="submit" value="{% trans "Yes, I am sure" %}" class="btn btn-danger" />
          <a href="{% url 'references_admin' %}" class="btn btn-info">{% trans "No, don't remove it" %}</a>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}

{% block extra_script %}
{% endblock extra_script %}