<!-- Modal para la intersección de elementos de un mapa -->
  <div id="chart_div_modal" class="modal modal-hide">
      <div class="modal-backdrop"></div>
      <div class="modal-window">
        <a href="#" class="modal-close"><i class="fa fa-times fa-lg"></i></a>
        <div class="modal-wrapper scroll-dark has-footer">
          <h4 class="modal-title" id="myModalLabel">Descargar capa</h4>
          <div class="modal-content-download">
            <div id="chart_div"></div>
          </div>
          <div class="modal-footer">
            <div class="m-btncontainer is-center">
            </div>
          </div>
        </div>
      </div>
  </div>
  <!--End Modal-->
