<!DOCTYPE html>
<html lang="es">
  <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Delitos del Fuero Común 2015 – 2018</title>
  <meta name="description" content="Datos Abiertos de Incidencia Delictiva - CentroGeo CONACYT">
  <meta property="og:url"                content="http://idegeo.centrogeo.org.mx/apps/mgs/" />
  <meta property="og:type"               content="article" />
  <meta property="og:title"              content="Delitos del Fuero Común 2015 – 2018 - CentroGeo CONACYT" />
  <meta property="og:description"        content="Datos Abiertos de Incidencia Delictiva" />
  <meta property="og:image"              content="http://idegeo.centrogeo.org.mx/uploaded/images/delitos.jpg" />
  <link rel="stylesheet" href="{{ STATIC_URL }}idegeo/apps/destination_exp/css/main.css" />
   <link rel="stylesheet" href="{{ STATIC_URL }}idegeo/apps/mugs/css/mug.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.0.3/leaflet.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/leaflet.esri.geocoder/2.1.0/esri-leaflet-geocoder.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.0.3/leaflet.js"></script>
    <script src="https://cdn.jsdelivr.net/leaflet.esri/2.0.0/esri-leaflet.js"></script>
    <script src="https://cdn.jsdelivr.net/leaflet.esri.geocoder/2.1.0/esri-leaflet-geocoder.js"></script>
  <script async type="text/javascript" src="https://dap.digitalgov.gov/Universal-Federated-Analytics-Min.js?agency=TRE" id="_fed_an_ua_tag"></script>
      <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
      <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
      <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <script src="{{ STATIC_URL }}idegeo/apps/destination_exp/js/d3.v3.min.js"></script>
<!-- <script src="https://d3js.org/d3.v4.min.js"></script> -->
      <script src="{{ STATIC_URL }}idegeo/apps/destination_exp/js/jquery.scrolly.min.js"></script>
      <script src='//api.tiles.mapbox.com/mapbox.js/plugins/leaflet-omnivore/v0.3.1/leaflet-omnivore.min.js'></script>
      <!-- <script src="https://d3js.org/d3.v4.min.js"></script> -->
      <script src="http://vizjs.org/viz.v1.1.0.min.js"></script>
</head>
  <style>
#map {
  height: 591px;
  width: 850px;
}
#logo_nav {
    position: absolute;
    top: 35px;
    right: 33px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 25px;
    padding: 15px 15px 10px;
}
.select-wrapper1 div {
    float: left;
    padding-left: 10px;
}
.fa-area-chart {
    cursor: pointer;
}
.fa-area-chart:hover {
    color:#777777;
}
#AreaChartModal .modal-body {
    padding: 30px;
}
#AreaChartModal .modal-body-content{
        max-height: 800px;
}
.leaflet-control-layers-overlays, .leaflet-control-layers-base {
    text-align: left;
}
.background-reading {
    position: absolute;
    /* Para Navegadores que no soportan RGBa mostramos color sólido sin transparencia */
    background: rgb(0, 0, 0);
    /* Para navegadores que soportan RGBa mostramos el color sólido con un 50% de opacidad */
    background: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
    z-index: 99999;
    display:none;
}
text{
	font-size:12px;
}
.label, .mainBars, .perc{
  color: red;
}
.mainBars rect{
  shape-rendering: auto;
  fill-opacity: 0;
  stroke-width: 0.5px;
  stroke: rgb(0, 0, 0);
  stroke-opacity: 0;
}
.subBars{
	shape-rendering:crispEdges;
}
.edges{
	stroke:none;
	fill-opacity:0.5;
}
.header{
	text-anchor:middle;
	font-size:16px;
}
line{
	stroke:grey;
}
</style>
  <body style="background-color:#E2DFEC;">
    <div class="logo_header">
        <a href="https://www.centrogeo.org.mx/" target="_blank"></a><img src="/static/mviewer/img/CentroGeo-CMX_Logo-H1.png" width="190px;" title="CentroGeo">
        <span class="header-title"><span class="header-title-h1">Delitos del Fuero Común 2015 – 2018</span>
          <div class="header-title-h2">Secretariado Ejecutivo del Sistema Nacional de Seguridad Pública</div>
          <span onclick="document.getElementById('panel1InstructionsModal').style.display='block';" class="button-instructions" id="booton-header">Descripción</span>
        </span>
    </div>
    <div class="background-reading-risk">
       <div id="waiting" style="position:absolute;top:48%;left:48%;">
          <img width="50" src='{{STATIC_URL}}geonode/img/throbber_12.gif' title="Loading.."/>
      </div>
    </div>

        <article id="main">
  <section class="wrapper">

<section id="one" class="viz-section center-text">
    <div class="viz-bkgd">
        <!-- <div class="viz-title-container"> -->

            <!-- <div id="page-wrapper"> -->

            <!-- </div> -->
        <!-- </div> -->
        <div id="panel1InstructionsModal" class="modal" style="z-index:9999;">
            <div class="modal-content">
                <div class="modal-blue-bar"></div>
                <div class="modal-body">
                    <div class="modal-body-title">Descripción</div>
                    <div class="modal-body-content">
                        <ul>
                            <li>
La presente aplicación muestra la distribución territorial de la incidencia delictiva en
México durante el periodo 2015 - 2018, obtenida a partir de los datos proporcionados por el
Secretariado Ejecutivo del Sistema Nacional de Seguridad Pública,
órgano administrativo desconcentrado dependiente de la Secretaría de Gobernación.
                            </li>
                            <li>
                            Las consultas obtenidas del sistema representan los Reportes de incidencia, que se obtienen de la cantidad de
                             averiguaciones previas iniciadas o carpetas de investigación que reportan las Procuradurías de Justicia y
                              Fiscalías Generales de cada Estado.
                            </li>
                            <li>
                              Para este caso, se presentan los delitos denominados “Del Fuero Común”, los
                              cuales se entienden como aquellos que se persiguen al interior de las Entidades Federativas y que afectan únicamente a los ciudadanos.
                            </li>
                            <li>
Los datos procesados se han obtenido de los “Datos Abiertos de Incidencia Delictiva” del
Secretariado y pueden obtenerse en el link:
                               <a href="http://secretariadoejecutivo.gob.mx/incidencia-delictiva/incidencia-delictiva-datos-abiertos.php" target="_blank">
                                 secretariadoejecutivo.gob.mx
                               </a>
                             </li>
                        </ul>
                    </div>
                    <a href="{% url "data_sheet" %}">
                    <span class="modal-body-download">
                        Ficha técnica
                    </span>
                  </a>
                    <span class="modal-body-bye">Cerrar</span>
                </div>
            </div>
        </div>
        <div id="AreaChartModal" class="modal" style="z-index:9999;">
            <div class="modal-content">
                <div class="modal-blue-bar"></div>
                <div class="modal-body">
                    <div class="modal-body-title">Descripción</div>
                    <div class="modal-body-content">
                    </div>
                    <span class="modal-body-close">Cerrar</span>
                </div>
            </div>
        </div>
        <div id="line-chart-modal" class="modal" style="z-index:9999;">
            <div class="modal-content">
                <div class="modal-blue-bar"></div>
                <div class="modal-body">
                    <!-- <div class="modal-body-title">Descripción</div> -->
                  <div class="container">
                    <form>
                      <div class="form-group row">
                          <div class="col-xs-5">
                          <label for="typess">Selecciona el tipo de delito</label>
                          <select class="form-control" id="typess" onchange="ChangeType()">
                          </select>
                        </div>
                      </div>
                    </form>
                  </div>
                    <div class="modal-body-content">
                        <div id="linechart_risk"></div>
                    </div>
                    <!-- <span class="modal-body-download" id="download_pdf">
                      Ver Reporte
                    </span> -->
                    <span class="modal-body-bye">Cerrar</span>
                </div>
            </div>
        </div>
        <script>
            document.getElementById('panel1InstructionsModal').querySelector("div > div.modal-body > span").onclick = function() {
                document.getElementById('panel1InstructionsModal').style.display = "none";
            }
            document.getElementById('AreaChartModal').querySelector("div > div.modal-body > span").onclick = function() {
                document.getElementById('AreaChartModal').style.display = "none";
            }
            document.getElementById('line-chart-modal').querySelector("div > div.modal-body > span.modal-body-bye").onclick = function() {
                document.getElementById('line-chart-modal').style.display = "none";
            }
        </script>
		<div class="mask">
			<div class="viz-actions">
<div class="container">
				<form id="SankeyRadio">
					<div class="select-wrapper1" style="margin:25px; max-width: 800px;">
                        <div class="form-group">
                            <label for="contactChoice5">Estado</label>
                            <select id="contactChoice5" onchange="ChangeEdo();" class="form-control">
                                <!-- <option value="99">Republica Mexicana</option> -->
                                <option value="01">Aguascalientes</option>
                                <option value="02">Baja California</option>
                                <option value="03">Baja California Sur</option>
                                <option value="04">Campeche</option>
                                <option value="05">Coahuila de Zaragoza</option>
                                <!-- <option value="06">Colima</option> -->
                                <option value="07">Chiapas</option>
                                <option value="08">Chihuahua</option>
                                <option value="09" selected="">CDMX</option>
                                <option value="10">Durango</option>
                                <option value="11">Guanajuato</option>
                                <option value="12">Guerrero</option>
                                <option value="13">Hidalgo</option>
                                <option value="14">Jalisco</option>
                                <option value="15">México</option>
                                <option value="16">Michoacán de Ocampo</option>
                                <option value="17">Morelos</option>
                                <option value="18">Nayarit</option>
                                <option value="19">Nuevo León</option>
                                <option value="20">Oaxaca</option>
                                <option value="21">Puebla</option>
                                <option value="22">Querétaro</option>
                                <option value="23">Quintana Roo</option>
                                <option value="24">San Luis Potosí</option>
                                <option value="25">Sinaloa</option>
                                <option value="26">Sonora</option>
                                <option value="27">Tabasco</option>
                                <option value="28">Tamaulipas</option>
                                <option value="29">Tlaxcala</option>
                                <option value="30">Veracruz de Ignacio de la Llave</option>
                                <option value="31">Yucatán</option>
                                <option value="32">Zacatecas</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="contactChoice4">Bien jurídico</label>
                            <select id="contactChoice4" onchange="ChangeCode();" class="form-control">
                                <option value="0">La sociedad</option>
                                <option value="1">Libertad personal</option>
                                <option value="2">La libertad y la seguridad sexual</option>
                                <option value="3" selected="">El patrimonio</option>
                                <option value="4">Otros bienes juridicos afectados</option>
                                <option value="5">La vida y la integridad corporal</option>
                                <option value="6">La familia</option>
                            </select>
                        </div>
                        <div class="form-group" id="years">
                          <label for="contactChoice3">Año</label>
                          <select id="contactChoice3" onchange="ChangeYear();" multiple class="form-control">
                            <option selected="" value="2015">2015</option>
                            <option value="2016">2016</option>
                            <option value="2017">2017</option>
                            <option value="2018">2018</option>
                          </select>
                        </div>
					</div>
          <div class="button-risk" id="detail">Detalle</div>
          <div class="button-risk" style="display: None" id="crime">Delitos</div>
          <!-- <div class="action-risk share-viz-button popup" id="detail">
                Detalle
          </div> -->
          <!-- <label class="radio-inline">
            <input type="radio" name="risk" id="crime" checked>Delitos
          </label>
          <label class="radio-inline">
            <input type="radio" name="risk" id="detail">Detalle
          </label> -->
				</form>
      </div>
				<div>
					<script>
    function clickShareItemLink(item, url) {
        window.open(url, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0');

        window.Analytics.event({
            category: 'Share Menu - Click Item',
            action: item
        });

        return false;
    }
</script>

<!-- <a href="{% url 'compareMugs' %}">
<div class="action-risk share-viz-button popup">
          Detalle
</div>
</a> -->
				</div>
			</div>
			<div class="viz-container">
				<element class="budget-sankey">
          <div id="changes_div"></div>
					<div id="sankey-container">
						<div id="sankey-viz" style="margin-right: 20px;">
              <div class="action-risk share-viz-button popup" id="restart">
                    Reiniciar
              </div>
              <!-- <div id="sankey-risk"></div> -->
							<div class="sankey-brackets">
								<svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 800 664.4">
                                   <defs>
                                      <style>.cls-1{fill:none}.cls-3{clip-path:url(#clip-path-2)}.cls-4{fill:#5b616b}.cls-6{fill:#979797}</style>
                                      <clipPath id="clip-path">
                                         <path class="cls-1" d="M1 239h19v165H1z"/>
                                      </clipPath>
                                      <clipPath id="clip-path-2">
                                         <path class="cls-1" d="M-84-1392h1440v3335H-84z"/>
                                      </clipPath>
                                      <clipPath id="clip-path-3">
                                         <path class="cls-1" transform="rotate(-89 628.9976 362.5353)" d="M556 353.03h146v19H556z"/>
                                      </clipPath>
                                   </defs>
                                   <g class="cls-3">
                                        <path stroke="null" id="svg_9" d="m12.27418,8.49998l34.6471,0l0,1.99074l-34.6471,0l0,-1.99074z" class="cls-6"/>
                                       <path stroke="null" id="svg_10" d="m12.27418,8.87822l2.51613,0l0,230.08982l-2.51613,0l0,-230.08982zm741.57869,42.42269l34.6471,0l0,1.99074l-34.6471,0l0,-1.99074z" class="cls-6"/>
                                       <path stroke="null" id="svg_11" d="m785.98385,51.67915l2.51613,0l0,230.08982l-2.51613,0l0,-230.08982zm-777.48385,598.83474l34.6471,0l0,1.99074l-34.6471,0l0,-1.99074z" class="cls-6"/>
                                       <path stroke="null" id="svg_12" d="m8.5,422.03657l2.51613,0l0,230.08982l-2.51613,0l0,-230.08982zm741.57869,229.47269l34.6471,0l0,1.99074l-34.6471,0l0,-1.99074z" class="cls-6"/>
                                       <path stroke="null" id="svg_13" d="m782.20966,423.03194l2.51613,0l0,230.08982l-2.51613,0l0,-230.08982z" class="cls-6"/>
                                     </g>
                                   <g class="cls-3">
                                       <text fill="#7f7f7f" stroke-width="0" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" x="-1.76662" y="314.02763" id="svg_15" font-size="24" font-family="Sans-serif" text-anchor="middle" xml:space="preserve" transform="rotate(-89.98776245117188 11.614793777465804,324.9280700683594) matrix(1.1244818700369754,0,0,2.1160190688063714,13.494789880268565,-321.8629145775547) " font-weight="bold">Municipios</text>
                                   </g>
                                    <g class="cls-3">
                                        <text font-weight="bold" transform="rotate(90.41679382324219 787.68359375,343.7406005859375) matrix(1.1244818700369752,0,0,2.1160190688063714,506.681649011128,-208.23498489005465) " xml:space="preserve" text-anchor="middle" font-family="Sans-serif" font-size="24" y="269.132" x="249.90484" stroke-linecap="null" stroke-linejoin="null" stroke-dasharray="null" stroke-width="0" fill="#7f7f7f" id="svg_4">Tipos de delito</text>
                                    </g>
                                </svg>
							</div>
						</div>
						<div id="map">
              <div class="legend-r" id="legend_risk" style="display: None;">
                <div id="window-legend" style="background-color: rgba(255, 255, 255, 0.9); padding-bottom: 5px; width: 190px;">
                  <span class="titles-leg"></span>
                  <span class="min-win-risk" style="display: None; cursor: pointer;"><i class="fa fa-minus fa-1x" title="Minimizar" aria-hidden="true"></i></span>
                  <span class="max-win-risk" style="display: None; cursor: pointer;"><i class="fa fa-window-maximize fa-1x" title="Maximizar" aria-hidden="true"></i></span>
                  <span class="download-data-risk"><i class="fa fa-download fa-1x" id="download-r" title="Descargar JSON del estado" site="{{site.name}}" aria-hidden="true"></i></span>
                </div>
                <span id="lbl-legend-risk"></span>
              </div>
            </div>
					</div>
				</element>
			</div>
		</div>
	</div>
</section>
<!-- d3 scripts -->
<script>
{% include "mugs-sankey.js" %}

</script>

  </section>
</article>
        <script>
    function trackLinkClick(actionName) {
        window.Analytics.event({
            category: 'Footer - Click Link',
            action: actionName
        });
    }

    function leaveSiteLink(outbound) {
        document.querySelector('#leave-modal .redirect-modal__link a').href = outbound;
        document.querySelector('#leave-modal .redirect-modal__link a').innerHTML = outbound;
        document.getElementById('leave-modal').style.display = 'block';
    }
</script>
        <footer id="footer">
            <ul class="copyright">
                <li>2018 <a href="https://www.centrogeo.org.mx/" target="_blank">CentroGeo</a></li>
                <li><a href="http://www.conacyt.mx/" target="_blank">CONACYT</a></li>
            </ul>
            <div class="footer-important-info">
                <span class="important-db-info">
                    <b><a href="http://idegeo.centrogeo.org.mx/" target="_blank">IDEGeo</a>: </b>
                    Infraestructura de datos Geoespaciales del <a href="https://www.centrogeo.org.mx/" target="_blank">CentroGeo</a>
                </span>
            </div>
        </footer>
</div>
  </body>
</html>
