{% extends "layers/layer_base.html" %}
{% load i18n %}
{% load bootstrap_tags %}

{% block title %} Micro Sitio {% endblock %}

{% block head %}
  {{ block.super }}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.js"></script>
{% endblock %}

{% block body_class %}Micro Sitio{% endblock %}

{% block body_outer %}

<!--HEADER-TITULO-->
<div id="page-header" class="content">
	<div class="container">
		<div class="titulo-blk-row">
			<div class="titulo-img blk-cell"><img src="{{STATIC_URL}}carousel/images/ico22_lineas-trabajo.png" alt=""></div>
			  <div class="titulo-txt blk-cell">
				  <h2>Editar Categoría</h2>
			  </div>
		</div>
	</div>
</div>
<div class="container">
	{% include "ms_detail_table.html" %}
</div>
{% endblock %}
{% block extra_script %}
{% endblock %}