{% extends "baseAlt.html" %}
{% load i18n %}
{% load dialogos_tags %}
{% load agon_ratings_tags %}
{% load bootstrap_tags %}
{% load base_tags %}
{% load guardian_tags %}

{% block title %}Micrositios{% endblock %}

{% block head %}
   {{ block.super }}
<link href="{{ STATIC_URL }}idegeo/main.css" rel="stylesheet" type="text/css">
<link href="{{ STATIC_URL }}bootstrap/bootstrap-responsive.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block body_outer %}
<div id="page-header" class="content">
  <div class="container">
    <div class="titulo-blk-row">
      <div class="titulo-img blk-cell"><img src="{{STATIC_URL}}carousel/images/ico11_capas.png" alt=""></div>
        <div class="titulo-txt blk-cell">
          <h2>Micrositios</h2>
        </div>
    </div>
  </div>
</div>
<div class="container" style="min-height: 440px;">
  <div style="height:65px;">
      <div class="nav nav-pills" style="float:right;">
          <div class="btn-group input-group" style="width:200px;">
            <input name="text_search_input_l" id="text_search_input_l" type="text" placeholder="Buscar" class="form-control ng-pristine ng-valid ng-touched" autocomplete="off">
          <span class="input-group-btn">
              <button class="btn btn-primary" type="submit" id="text_search_btn_l"><i class="fa fa-filter"></i></button>
          </span>
        </div>
      </div>
  </div>
  <div class="l-section">
      <div class="l-container">
          <div class="row">
              {% for ms in items %}
              <div class="column small-12 medium-4 c-card-column">
                  <div class="c-card-app ">
                      <div class="card-background" style="background-image: url({{MEDIA_URL}}{{ms.cover_image}});"></div>
                      <div class="card-container">
                          <div class="c-title -default">{{ms|truncatechars:55}}</div>
                          <div class="card-content"></div>
                          <div class="card-footer"><a href="{% url 'ms_index' ms.url_name %}" class="c-button -secondary -fullwidth">Ir al Micrositio</a></div>
                      </div>
                  </div>
              </div>
              {% empty%}
              <h2>Aún no hay Micrositios</h2>
              {% endfor %}
          </div>
      </div>
  </div>
</div>
{% endblock %}


{% block extra_script %}
<script src="{{ STATIC_URL }}interactive/js/jquery.mixitup.js" type="text/javascript"></script>
<script src='{{ STATIC_URL }}map_interface/js/jquery.quicksearch.js'></script>
<script src="{{STATIC_URL}}geonode/js/colorbox/jquery.colorbox.js"></script>
<link rel="stylesheet" href="{{STATIC_URL}}geonode/css/colorbox/colorbox.css" />
{% include "documents.js" %}
{% endblock extra_script %}