{% extends "baseAlt.html" %}
{% load i18n %}

{% block title %}{{ ms.name }} — {{ block.super }}{% endblock %}

{% block body_outer %}
<div class="container">
  <div class="row"><br>
    <div class="col-md-8">
      <form action="{% url "ms_remove" ms.id %}" method="POST">
        <h2>
          {% blocktrans with ms.name as ms_title %}
            ¿Esta seguro que desea eliminar el Micro sitio: {{ ms_title }}?
          {% endblocktrans %}
        </h2>
         
        <br>
        {% csrf_token %}
        <input type="hidden" value="{{ slope.typename }}" />
        <div class="form-actions">
          <input type="submit" value="{% trans "Yes, I am sure" %}" class="btn btn-danger" />
          <a href="{{ slope.get_absolute_url }}" class="btn btn-info">{% trans "No, don't remove it" %}</a>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
