<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <title>Inmigrantes</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="{{ STATIC_URL }}ms/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}idegeo/apps/farming/css/immigrates.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}ms/css/bootstrap-responsive.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.5/leaflet.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{ STATIC_URL }}ms/css/dvf.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}ms/css/example.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}ms/css/ui.css" type="text/css" media="screen"/>
    <script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-omnivore/v0.2.0/leaflet-omnivore.min.js'></script>
</head>

<body>
<!--
<div id="switch">
    <a id="atractores" href="?region=bajio&tipo=ocupados&activos=atractores"><i class="fa fa-sign-in" aria-hidden="true"></i> Atractores</a>
    <br><a id="expulsores" href="?region=bajio&tipo=ocupados&activos=expulsores"><i class="fa fa-sign-out" aria-hidden="true"></i> Expulsores</a>
</div>-->
<div class="container-fluid">
    <div class="row-fluid">
        <div id="map">
            <div class="title-map">Mapa de inmigrantes</div>
           <div class="logos">
            <div class="logos-l">
                <a href="http://www.conacyt.mx/" title="Consejo Nacional de Ciencia y Tecnología">
                    <img class="log" src="{{ STATIC_URL }}style_sci/img/logo-conacyt_header.png" alt="www.conacyt.mx" width="
                    80px" />
                </a>
                <a href="http://www.centrogeo.org.mx/" target="_blank">
                    <img class="log" src="{{ STATIC_URL }}carousel/img/CentroGeoLogo.png" alt="Logo CentroGeo" width="80px"/>
                </a>
            </div>
            <div class="logos-r">
                <a href="https://www.ciesas.edu.mx/" title="Centro de Investigaciones y Estudios Superiores en Antropología Social (CIESAS) ">
                    <img class="log" src="{{ STATIC_URL }}idegeo/apps/farming/img/ciesas-logo.png" width="100px" height="80px" alt="www.ciesas.edu.mx"/>
                </a>
            </div>
            </div>
        </div>
       
        <div id="info3" class="leaflet-control-legend"><span class="external-link"><i class="fa fa-external-link" data-toggle="tooltip" data-placement="left" title="Ampliar" aria-hidden="true"></i></span></div>
    </div>
</div>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script src="{{ STATIC_URL }}ms/js/bootstrap.min.js"></script>
<script type="text/javascript" src="http://cdn.leafletjs.com/leaflet-0.7.5/leaflet.js"></script>
<script type="text/javascript" src="http://maps.stamen.com/js/tile.stamen.js?v1.2.3"></script>
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.1/underscore-min.js"></script>
<script type="text/javascript" src = "http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.0.0/moment.min.js" ></script>
<script type="text/javascript" src="{{ STATIC_URL }}ms/js/leaflet-dvf.js"></script>
<script type="text/javascript">
     {% include "MarkerDataLayerImmigrate.js" %}
</script>
</body>
</html>